In [1]:
import findspark
findspark.init()

In [2]:
findspark.find()

'C:\\spark\\spark-3.1.2-bin-hadoop3.2'

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [4]:
conf = pyspark.SparkConf().setAppName("my_app").setMaster("local")

In [9]:
from pyspark.sql import SQLContext

In [10]:
sc = pyspark.SparkContext(conf=conf)

In [11]:
spark = SparkSession(sc)

In [12]:
sql_c = SQLContext(sc)

In [13]:
# import a csv file located in local
df = sql_c.read.csv('Concrete_Data.csv', header=True)

In [15]:
df.show(5)

+------+------+-------+------+----------------+-------+------+----+------+
|Cement| Blast|Fly Ash| Water|Superplasticizer|     CA|    FA| Age|   CMS|
+------+------+-------+------+----------------+-------+------+----+------+
|540.0 |  0.0 |   0.0 |162.0 |            2.5 |1040.0 |676.0 | 28 |79.99 |
|540.0 |  0.0 |   0.0 |162.0 |            2.5 |1055.0 |676.0 | 28 |61.89 |
|332.5 |142.5 |   0.0 |228.0 |            0.0 | 932.0 |594.0 |270 |40.27 |
|332.5 |142.5 |   0.0 |228.0 |            0.0 | 932.0 |594.0 |365 |41.05 |
|198.6 |132.4 |   0.0 |192.0 |            0.0 | 978.4 |825.5 |360 |44.30 |
+------+------+-------+------+----------------+-------+------+----+------+
only showing top 5 rows

In [16]:
df.show(3)

+------+------+-------+------+----------------+-------+------+----+------+
|Cement| Blast|Fly Ash| Water|Superplasticizer|     CA|    FA| Age|   CMS|
+------+------+-------+------+----------------+-------+------+----+------+
|540.0 |  0.0 |   0.0 |162.0 |            2.5 |1040.0 |676.0 | 28 |79.99 |
|540.0 |  0.0 |   0.0 |162.0 |            2.5 |1055.0 |676.0 | 28 |61.89 |
|332.5 |142.5 |   0.0 |228.0 |            0.0 | 932.0 |594.0 |270 |40.27 |
+------+------+-------+------+----------------+-------+------+----+------+
only showing top 3 rows

In [21]:
print("Shape of the records in the datasets is", df.count(), ',', len(df.columns))

Shape of the records in the datasets is 1030 , 9

In [22]:
df.dtypes

[('Cement', 'string'),
 ('Blast', 'string'),
 ('Fly Ash', 'string'),
 ('Water', 'string'),
 ('Superplasticizer', 'string'),
 ('CA', 'string'),
 ('FA', 'string'),
 ('Age', 'string'),
 ('CMS', 'string')]

In [23]:
# convert the sparkdataframe into pandas dataframe
dataframe_pandas = df.toPandas()

In [24]:
dataframe_pandas

,Cement,Blast,Fly Ash,Water,Superplasticizer,CA,FA,Age,CMS
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [25]:
df1 = dataframe_pandas.copy()

In [26]:
df1.head()

,Cement,Blast,Fly Ash,Water,Superplasticizer,CA,FA,Age,CMS
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [27]:
df1.tail()

,Cement,Blast,Fly Ash,Water,Superplasticizer,CA,FA,Age,CMS
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [28]:
# shape of the datasets
df1.shape

(1030, 9)

In [29]:
df1.columns

Index(['Cement', 'Blast', 'Fly Ash', 'Water', 'Superplasticizer', 'CA', 'FA',
       'Age', 'CMS'],
      dtype='object')

In [31]:
# info of the dataframe
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cement            1030 non-null   object
 1   Blast             1030 non-null   object
 2   Fly Ash           1030 non-null   object
 3   Water             1030 non-null   object
 4   Superplasticizer  1030 non-null   object
 5   CA                1030 non-null   object
 6   FA                1030 non-null   object
 7   Age               1030 non-null   object
 8   CMS               1030 non-null   object
dtypes: object(9)
memory usage: 72.5+ KB

In [32]:
# convert the pandas dataframe to spark dataframe
df_sparkDF = sql_c.createDataFrame(df1)

In [33]:
df_sparkDF.show()

+------+------+-------+------+----------------+-------+------+----+------+
|Cement| Blast|Fly Ash| Water|Superplasticizer|     CA|    FA| Age|   CMS|
+------+------+-------+------+----------------+-------+------+----+------+
|540.0 |  0.0 |   0.0 |162.0 |            2.5 |1040.0 |676.0 | 28 |79.99 |
|540.0 |  0.0 |   0.0 |162.0 |            2.5 |1055.0 |676.0 | 28 |61.89 |
|332.5 |142.5 |   0.0 |228.0 |            0.0 | 932.0 |594.0 |270 |40.27 |
|332.5 |142.5 |   0.0 |228.0 |            0.0 | 932.0 |594.0 |365 |41.05 |
|198.6 |132.4 |   0.0 |192.0 |            0.0 | 978.4 |825.5 |360 |44.30 |
|266.0 |114.0 |   0.0 |228.0 |            0.0 | 932.0 |670.0 | 90 |47.03 |
|380.0 | 95.0 |   0.0 |228.0 |            0.0 | 932.0 |594.0 |365 |43.70 |
|380.0 | 95.0 |   0.0 |228.0 |            0.0 | 932.0 |594.0 | 28 |36.45 |
|266.0 |114.0 |   0.0 |228.0 |            0.0 | 932.0 |670.0 | 28 |45.85 |
|475.0 |  0.0 |   0.0 |228.0 |            0.0 | 932.0 |594.0 | 28 |39.29 |
|198.6 |132.4 |   0.0 |192.0 |            0.0 | 978.4 |825.5 | 90 |38.07 |
|198.6 |132.4 |   0.0 |192.0 |            0.0 | 978.4 |825.5 | 28 |28.02 |
|427.5 | 47.5 |   0.0 |228.0 |            0.0 | 932.0 |594.0 |270 |43.01 |
|190.0 |190.0 |   0.0 |228.0 |            0.0 | 932.0 |670.0 | 90 |42.33 |
|304.0 | 76.0 |   0.0 |228.0 |            0.0 | 932.0 |670.0 | 28 |47.81 |
|380.0 |  0.0 |   0.0 |228.0 |            0.0 | 932.0 |670.0 | 90 |52.91 |
|139.6 |209.4 |   0.0 |192.0 |            0.0 |1047.0 |806.9 | 90 |39.36 |
|342.0 | 38.0 |   0.0 |228.0 |            0.0 | 932.0 |670.0 |365 |56.14 |
|380.0 | 95.0 |   0.0 |228.0 |            0.0 | 932.0 |594.0 | 90 |40.56 |
|475.0 |  0.0 |   0.0 |228.0 |            0.0 | 932.0 |594.0 |180 |42.62 |
+------+------+-------+------+----------------+-------+------+----+------+
only showing top 20 rows