In [1]:
from collections import Counter

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 666F-1FAE

 Directory of C:\Users\Sudip\Desktop\Titanic

10/15/2021  01:35 PM    <DIR>          .
10/15/2021  01:35 PM    <DIR>          ..
10/15/2021  01:35 PM    <DIR>          .ipynb_checkpoints
10/15/2021  01:35 PM                72 ETL-Titanic Datasets.ipynb
10/15/2021  01:32 PM            28,629 test-titanic.csv
10/15/2021  01:32 PM            61,194 train-titanic.csv
               3 File(s)         89,895 bytes
               3 Dir(s)  51,541,409,792 bytes free

In [3]:
pwd

'C:\\Users\\Sudip\\Desktop\\Titanic'

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
sc = SparkSession.builder.master("local[*]").getOrCreate()
sc.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
sc

In [7]:
# Load the csv into a dataframe
train_df = sc.read.csv("train-titanic.csv", header=True, inferSchema=True)
train_df.take(5)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S')]

In [8]:
train_df.show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

In [9]:
# do the same process for test_df
test_df = sc.read.csv("test-titanic.csv", header=True, inferSchema=True)
test_df.take(10)

[Row(PassengerId=892, Pclass=3, Name='Kelly, Mr. James', Sex='male', Age=34.5, SibSp=0, Parch=0, Ticket='330911', Fare=7.8292, Cabin=None, Embarked='Q'),
 Row(PassengerId=893, Pclass=3, Name='Wilkes, Mrs. James (Ellen Needs)', Sex='female', Age=47.0, SibSp=1, Parch=0, Ticket='363272', Fare=7.0, Cabin=None, Embarked='S'),
 Row(PassengerId=894, Pclass=2, Name='Myles, Mr. Thomas Francis', Sex='male', Age=62.0, SibSp=0, Parch=0, Ticket='240276', Fare=9.6875, Cabin=None, Embarked='Q'),
 Row(PassengerId=895, Pclass=3, Name='Wirz, Mr. Albert', Sex='male', Age=27.0, SibSp=0, Parch=0, Ticket='315154', Fare=8.6625, Cabin=None, Embarked='S'),
 Row(PassengerId=896, Pclass=3, Name='Hirvonen, Mrs. Alexander (Helga E Lindqvist)', Sex='female', Age=22.0, SibSp=1, Parch=1, Ticket='3101298', Fare=12.2875, Cabin=None, Embarked='S'),
 Row(PassengerId=897, Pclass=3, Name='Svensson, Mr. Johan Cervin', Sex='male', Age=14.0, SibSp=0, Parch=0, Ticket='7538', Fare=9.225, Cabin=None, Embarked='S'),
 Row(PassengerId=898, Pclass=3, Name='Connolly, Miss. Kate', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket='330972', Fare=7.6292, Cabin=None, Embarked='Q'),
 Row(PassengerId=899, Pclass=2, Name='Caldwell, Mr. Albert Francis', Sex='male', Age=26.0, SibSp=1, Parch=1, Ticket='248738', Fare=29.0, Cabin=None, Embarked='S'),
 Row(PassengerId=900, Pclass=3, Name='Abrahim, Mrs. Joseph (Sophie Halaut Easu)', Sex='female', Age=18.0, SibSp=0, Parch=0, Ticket='2657', Fare=7.2292, Cabin=None, Embarked='C'),
 Row(PassengerId=901, Pclass=3, Name='Davies, Mr. John Samuel', Sex='male', Age=21.0, SibSp=2, Parch=0, Ticket='A/4 48871', Fare=24.15, Cabin=None, Embarked='S')]

In [10]:
test_df.show(10)

+-----------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|   330911| 7.8292| null|       Q|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0|   363272|    7.0| null|       S|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0|   240276| 9.6875| null|       Q|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0|   315154| 8.6625| null|       S|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|  3101298|12.2875| null|       S|
|        897|     3|Svensson, Mr. Joh...|  male|14.0|    0|    0|     7538|  9.225| null|       S|
|        898|     3|Connolly, Miss. Kate|female|30.0|    0|    0|   330972| 7.6292| null|       Q|
|        899|     2|Caldwell, Mr. Alb...|  male|26.0|    1|    1|   248738|   29.0| null|       S|
|        900|     3|Abrahim, Mrs. Jos...|female|18.0|    0|    0|     2657| 7.2292| null|       C|
|        901|     3|Davies, Mr. John ...|  male|21.0|    2|    0|A/4 48871|  24.15| null|       S|
+-----------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
only showing top 10 rows

In [25]:
# let's add new columns in dataframe
from pyspark.sql.functions import lit, col
test_df1 = test_df.withColumn("Survived", lit(0))

In [26]:
test_df1.show(5)

+-----------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+--------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch| Ticket|   Fare|Cabin|Embarked|Survived|
+-----------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+--------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0| 330911| 7.8292| null|       Q|       0|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0| 363272|    7.0| null|       S|       0|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0| 240276| 9.6875| null|       Q|       0|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0| 315154| 8.6625| null|       S|       0|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|3101298|12.2875| null|       S|       0|
+-----------+------+--------------------+------+----+-----+-----+-------+-------+-----+--------+--------+
only showing top 5 rows

In [42]:
# concatenate two dataframes
x= train_df.union(test_df1)

In [44]:
# how to select individual columns
x.select("passengerId").show(10)

+-----------+
|passengerId|
+-----------+
|          1|
|          2|
|          3|
|          4|
|          5|
|          6|
|          7|
|          8|
|          9|
|         10|
+-----------+
only showing top 10 rows

In [59]:
# selecting multiple columns
x.select(x.Pclass, x.Name, x.Sex).show(10)

+------+--------------------+------+
|Pclass|                Name|   Sex|
+------+--------------------+------+
|     3|Braund, Mr. Owen ...|  male|
|     1|Cumings, Mrs. Joh...|female|
|     3|Heikkinen, Miss. ...|female|
|     1|Futrelle, Mrs. Ja...|female|
|     3|Allen, Mr. Willia...|  male|
|     3|    Moran, Mr. James|  male|
|     1|McCarthy, Mr. Tim...|  male|
|     3|Palsson, Master. ...|  male|
|     3|Johnson, Mrs. Osc...|female|
|     2|Nasser, Mrs. Nich...|female|
+------+--------------------+------+
only showing top 10 rows

In [63]:
# We use the withColumnRenamed function to rename a columm in PySpark
df = x.withColumnRenamed('Pclass', 'P-Class')
df.show(5)

+-----------+--------+-------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|P-Class|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+-------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|      3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|      1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|      3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|      1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|      3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+-------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [64]:
# Grouping By Columns
# => Group By a single column
# => Group By multiple columns
df.groupBy('Embarked').count().show(5)

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|       0|  418|
|    null|    2|
|       C|  168|
|       S|  644|
+--------+-----+

In [65]:
df.groupBy('Survived').count().show(5)

+--------+-----+
|Survived|count|
+--------+-----+
|       1|  449|
|       3|  218|
|       2|   93|
|       0|  549|
+--------+-----+

In [67]:
#Remove columns in PySpark
df = df.drop('Fare')
df.show(2)

+-----------+--------+-------+--------------------+------+----+-----+-----+---------+-----+--------+
|PassengerId|Survived|P-Class|                Name|   Sex| Age|SibSp|Parch|   Ticket|Cabin|Embarked|
+-----------+--------+-------+--------------------+------+----+-----+-----+---------+-----+--------+
|          1|       0|      3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171| null|       S|
|          2|       1|      1|Cumings, Mrs. Joh...|female|38.0|    1|    0| PC 17599|  C85|       C|
+-----------+--------+-------+--------------------+------+----+-----+-----+---------+-----+--------+
only showing top 2 rows

In [71]:
## DataFrame Operations on Rows
## => 1. Filtering Rows
## => 2. Get Distinct Rows
## => 3. Sorting Rows
## => 4. Union Dataframes

# Filtering rows
total_count = df.count()
print("TOTAL COUNT => " + str(total_count))

TOTAL COUNT => 1309

In [72]:
# filtering on rows
sex_count_male = df.filter(col('Sex')=='male').count()
print("Filtered data on male sex count => " + str(sex_count_male))

Filtered data on male sex count => 577

In [73]:
sex_count_female = df.filter(col('Sex')=='female').count()
print("Filtered data on male sex count => " + str(sex_count_female))

Filtered data on male sex count => 314

In [74]:
# now show the dataframes
df_sex_filter = df.filter(col('sex')=='male').show(4)

+-----------+--------+-------+--------------------+----+----+-----+-----+---------+-----+--------+
|PassengerId|Survived|P-Class|                Name| Sex| Age|SibSp|Parch|   Ticket|Cabin|Embarked|
+-----------+--------+-------+--------------------+----+----+-----+-----+---------+-----+--------+
|          1|       0|      3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171| null|       S|
|          5|       0|      3|Allen, Mr. Willia...|male|35.0|    0|    0|   373450| null|       S|
|          6|       0|      3|    Moran, Mr. James|male|null|    0|    0|   330877| null|       Q|
|          7|       0|      1|McCarthy, Mr. Tim...|male|54.0|    0|    0|    17463|  E46|       S|
+-----------+--------+-------+--------------------+----+----+-----+-----+---------+-----+--------+
only showing top 4 rows

In [76]:
# Filtering rows in PySpark based on Multiple conditions
multiple_conditions_filters = df.filter((col('sex')=='female') & (col('SibSp')==1)).show(4)

+-----------+--------+-------+--------------------+------+----+-----+-----+--------+-----+--------+
|PassengerId|Survived|P-Class|                Name|   Sex| Age|SibSp|Parch|  Ticket|Cabin|Embarked|
+-----------+--------+-------+--------------------+------+----+-----+-----+--------+-----+--------+
|          2|       1|      1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|  C85|       C|
|          4|       1|      1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|  113803| C123|       S|
|         10|       1|      2|Nasser, Mrs. Nich...|female|14.0|    1|    0|  237736| null|       C|
|         11|       1|      3|Sandstrom, Miss. ...|female| 4.0|    1|    1| PP 9549|   G6|       S|
+-----------+--------+-------+--------------------+------+----+-----+-----+--------+-----+--------+
only showing top 4 rows