# Sub-string in PySpark: -
##### df.colname.substr() gets the substring of the column
#####  df.colname.substr(start,length)

In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
conf = pyspark.SparkConf().setAppName("Typecast String to Date and Date to String").setMaster("local")
from pyspark.sql import SQLContext
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)
sql_c = SQLContext(sc)

In [2]:
df = sql_c.read.csv('transaction.csv', header=True)

In [3]:
df.head(4)

[Row(Date='21-Aug-20', Description='Reversal', Deposits='0', Withdrawls='10,612.64', Balance='53,063.19'),
 Row(Date='21-Aug-20', Description='Commission', Deposits='0', Withdrawls='26,531.60', Balance='26,531.60'),
 Row(Date='21-Aug-20', Description='Debit Card', Deposits='0', Withdrawls='8,843.87', Balance='17,687.73'),
 Row(Date='21-Aug-20', Description='Cash', Deposits='23,475.67', Withdrawls='0', Balance='41,163.40')]

In [4]:
df.take(4)

[Row(Date='21-Aug-20', Description='Reversal', Deposits='0', Withdrawls='10,612.64', Balance='53,063.19'),
 Row(Date='21-Aug-20', Description='Commission', Deposits='0', Withdrawls='26,531.60', Balance='26,531.60'),
 Row(Date='21-Aug-20', Description='Debit Card', Deposits='0', Withdrawls='8,843.87', Balance='17,687.73'),
 Row(Date='21-Aug-20', Description='Cash', Deposits='23,475.67', Withdrawls='0', Balance='41,163.40')]

In [6]:
df.show(5)

+---------+-----------+---------+----------+---------+
|     Date|Description| Deposits|Withdrawls|  Balance|
+---------+-----------+---------+----------+---------+
|21-Aug-20|   Reversal|        0| 10,612.64|53,063.19|
|21-Aug-20| Commission|        0| 26,531.60|26,531.60|
|21-Aug-20| Debit Card|        0|  8,843.87|17,687.73|
|21-Aug-20|       Cash|23,475.67|         0|41,163.40|
|21-Aug-20|   Interest|        0|  5,145.43|36,017.98|
+---------+-----------+---------+----------+---------+
only showing top 5 rows

In [7]:
df.select("Date").dtypes

[('Date', 'string')]

In [15]:
from pyspark.sql.types import StringType

In [19]:
df = df.withColumn("Sub-string_Description", df.Description.substr(1,5))
df.show(3)

+---------+-----------+--------+----------+---------+-------------------+----------------------+
|     Date|Description|Deposits|Withdrawls|  Balance|substring_statename|Sub-string_Description|
+---------+-----------+--------+----------+---------+-------------------+----------------------+
|21-Aug-20|   Reversal|       0| 10,612.64|53,063.19|              Rever|                 Rever|
|21-Aug-20| Commission|       0| 26,531.60|26,531.60|              Commi|                 Commi|
|21-Aug-20| Debit Card|       0|  8,843.87|17,687.73|              Debit|                 Debit|
+---------+-----------+--------+----------+---------+-------------------+----------------------+
only showing top 3 rows

In [20]:
# get substring from the end
df = df.withColumn("sub_string_from_end", df.Description.substr(-1,2))

In [21]:
df.show(3)

+---------+-----------+--------+----------+---------+-------------------+----------------------+-------------------+
|     Date|Description|Deposits|Withdrawls|  Balance|substring_statename|Sub-string_Description|sub_string_from_end|
+---------+-----------+--------+----------+---------+-------------------+----------------------+-------------------+
|21-Aug-20|   Reversal|       0| 10,612.64|53,063.19|              Rever|                 Rever|                  l|
|21-Aug-20| Commission|       0| 26,531.60|26,531.60|              Commi|                 Commi|                  n|
|21-Aug-20| Debit Card|       0|  8,843.87|17,687.73|              Debit|                 Debit|                  d|
+---------+-----------+--------+----------+---------+-------------------+----------------------+-------------------+
only showing top 3 rows