In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master("local").appName("Demo").getOrCreate()

In [6]:
df_pyspark = spark.read.option("delimiter",",").csv("fakefriends.csv", header=False).show()

+---+--------+---+---+
|_c0|     _c1|_c2|_c3|
+---+--------+---+---+
|  0|    Will| 33|385|
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  4|   Quark| 68| 21|
|  5|  Weyoun| 59|318|
|  6|  Gowron| 37|220|
|  7|    Will| 54|307|
|  8|  Jadzia| 38|380|
|  9|    Hugh| 27|181|
| 10|     Odo| 53|191|
+---+--------+---+---+

In [12]:
from pyspark.sql.types import StructField, IntegerType, StructType, StringType,LongType

In [15]:
schema = StructType([
    StructField("Index", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Duration", IntegerType(), True),
    StructField("Days", IntegerType(), True)])

In [20]:
df = spark.read.format("csv") \
    .schema(schema) \
    .option("header", True) \
    .load("fakefriends.csv")
df.show()

+-----+--------+--------+----+
|Index|    Name|Duration|Days|
+-----+--------+--------+----+
|    1|Jean-Luc|      26|   2|
|    2|    Hugh|      55| 221|
|    3|  Deanna|      40| 465|
|    4|   Quark|      68|  21|
|    5|  Weyoun|      59| 318|
|    6|  Gowron|      37| 220|
|    7|    Will|      54| 307|
|    8|  Jadzia|      38| 380|
|    9|    Hugh|      27| 181|
|   10|     Odo|      53| 191|
+-----+--------+--------+----+